:root {
  --letter-color: #e2e2e0;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background: green;
  background: url(../assets/jeremy-bishop-img.jpg) no-repeat center fixed;
}

span, h2, h3 {
  color: var(--letter-color);
}

h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--letter-color);
  line-height: 1;
  transition: all 1000ms;
}

h1:hover {
  color: var(--letter-color);
}

span {
  color: var(--letter-color);
}

h2 {
  font-size: 2rem;
  color: var(--letter-color);
}

h3 {
  font-size: 1.5rem;
}

a {
  display: block;
  max-width: 50%;
  text-decoration: none;
  color: var(--letter-color);
  border: 1px solid var(--letter-color);
  border-radius: 25px;
  padding: 15px 20px;
  margin: 0 auto 3% auto;
  transition: all 500ms;
}

a:last-child {
  margin-bottom: 8%;
}

a:hover {
  color: rgba(72,68,156,1);
  background-color: var(--letter-color);
}


.container {
  max-width: 450px;
  text-align: center;
  margin: auto auto;
}

.unsplash-link {
  display: inline;
  border: none;

}

.unsplash-link:hover {
  color: inherit;
  background-color: inherit;
}
